node_modules/

packages/**/coverage/
packages/**/node_modules/

packages/gatsby-plugin-i18n/createPages.js
packages/gatsby-plugin-i18n/createPages.test.js

packages/gatsby-plugin-i18n/defaultOptions.js

packages/gatsby-plugin-i18n/gatsby-node.js
packages/gatsby-plugin-i18n/gatsby-node.test.js

packages/gatsby-plugin-i18n/getMarkdownPage.js
packages/gatsby-plugin-i18n/getMarkdownPage.test.js

packages/gatsby-plugin-i18n/getNewPage.js
packages/gatsby-plugin-i18n/getNewPage.test.js

packages/gatsby-plugin-i18n/logError.js

packages/gatsby-plugin-i18n/onCreateNode.js
packages/gatsby-plugin-i18n/onCreateNode.test.js

packages/gatsby-plugin-i18n/onCreatePage.js
packages/gatsby-plugin-i18n/onCreatePage.test.js
